//My Custom variables

// Descriptive color variables
$brand-main-color: #000034;

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';
